<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<!-- /.website title -->
<title>Online Presentation</title>  
 </head>
 <body>
 	<div>
 		<h1>SORRY THE PAGE IS NOT AVAILABLE</h1>
 	</div>
<!-- /.footer -->
<footer id="footer">
<% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>