<!doctype html>
<html lang="en" class="no-js">
<head>
	<% include ../partials/adHead %>
  	
	<title>Admin Panel | Online Presentation </title>
</head>
<body>
	<% include ../partials/header %>
<% include ../partials/sideNav %>
		<div class="content-wrapper">
			<h1>Responsive Sidebar Navigation</h1>
		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->
<% include ../partials/adScripts %>
</body>
</html>