<!doctype html>
<html lang="en" class="no-js">
<head>
    <% include ../partials/adHead %>
    
    <title>Share Screen | Online Presentation </title>
</head>
<body>
<% include ../partials/header %>
<% include ../partials/sideNav %>
 <div class="content-wrapper">
 </div>
 <% include ../partials/adScripts %>
</body>
</html>