<!doctype html>
<html lang="en" class="no-js">
<head>
    <% include ../partials/adHead %>
    
    <title>Share Screen | Online Presentation </title>
</head>
<body>
<% include ../partials/header %>
<% include ../partials/sideNav %>

 <div class="content-wrapper">
 <div class="col-lg-12"> 
 <h1 class="heading">Registered Users</h1>
 </div>
 <br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form>
                    <div class="row">
                    <br/><br/>
                          <div class="col-lg-6">
                             <select name="department" class="form-control">
                                 <option>--Select Department--</option>
                                 <option value="">Dept 1</option>
                                 <option value="">Dept 2</option>
                             </select>      
                             </div>
                            </div> <!-- row -->
                </form>
            </div>
 </div>

 <% include ../partials/adScripts %>
</body>
</html>